@font-face {
  font-family: 'Cream';
  src: url("/fonts/Cream_Cake.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Birds';
  src: url("/fonts/Birds_of_Paradise.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Kg';
  src: url("/fonts/KGPrimaryItalics.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Ananda';
  src: url("/fonts/Ananda.ttf");
  font-weight: normal; }
/* GENERAL */
* {
  box-sizing: border-box; }

body {
  padding: 0;
  max-width: 700px;
  min-height: 100%;
  margin: 0 auto;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  padding: 0 30px; }

li {
  list-style: none; }

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #579c87;
  color: #FBC02D; }
  .header h1 {
    font-size: 40px;
    font-weight: bold; }

/* MENU */
.main {
  margin-top: 110px;
  margin-bottom: 20px; }
  .main__presentation {
    display: flex;
    justify-content: space-around;
    padding: 20px; }
  .main h1 {
    text-align: center; }

.carte {
  width: 44%;
  height: 350px;
  box-shadow: 1px 0 21px rgba(0, 0, 0, 0.2); }
  .carte__resto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    transition-duration: 0.5s; }
    .carte__resto:hover {
      transform: scale(1.2);
      opacity: 0.5; }

.fab {
  font-size: 45px;
  background: -webkit-linear-gradient(left, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.restaurant1 {
  background-color: #fcdfdb;
  color: #6b5253; }
  .restaurant1 .titre {
    font-family: 'Cream', sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 0 10px; }
  .restaurant1 .titre__menu {
    font-family: 'KG';
    font-size: 30px;
    margin: 10px; }

.restaurant2 {
  background-color: #fff5fe;
  color: #6b5253; }
  .restaurant2 .titre {
    font-family: 'KG';
    font-size: 25px;
    padding: 5px;
    background: -webkit-linear-gradient(left, #d8852e, #905bfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 10px; }
  .restaurant2 .titre__menu {
    font-family: sans-serif;
    font-size: 30px;
    margin: 10px;
    color: #c77412; }

.restaurant3 {
  background-color: #f9f9f9; }
  .restaurant3 .titre {
    font-family: 'Birds', sans-serif;
    font-size: 28px;
    padding: 5px;
    background: -webkit-linear-gradient(left, #0431df, #1b91fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 10px; }
  .restaurant3 .titre__menu {
    font-family: 'KG';
    font-size: 35px;
    margin: 10px;
    color: #0887fb; }

.restaurant4 {
  background-color: #fdfffd; }
  .restaurant4 .titre {
    font-family: 'Ananda', sans-serif;
    font-size: 28px;
    padding: 5px;
    background: -webkit-linear-gradient(left, #42973c, #bfff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 10px; }
  .restaurant4 .titre__menu {
    font-family: 'KG';
    font-size: 35px;
    margin: 10px;
    color: #72bf56; }

/* PROCHAINEMENT */
.prochainement {
  margin-bottom: 80px;
  color: #FBC02D;
  text-align: center; }
  .prochainement .chargement {
    max-width: 200px;
    padding: 7px;
    background-color: #579c87;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: normal; }
    .prochainement .chargement .one {
      opacity: 0;
      animation: dot 2s infinite;
      animation-delay: 0.6s; }
    .prochainement .chargement .two {
      opacity: 0;
      animation: dot 2s infinite;
      animation-delay: 0.8s; }
    .prochainement .chargement .three {
      opacity: 0;
      animation: dot 2s infinite;
      animation-delay: 1s; }
@keyframes dot {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #579c87; }
  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }
    footer ul .lien__footer {
      font-size: 23px;
      font-weight: normal;
      color: #FBC02D;
      display: block; }
      footer ul .lien__footer:hover {
        animation: wiggle 75ms 5; }
@keyframes wiggle {
  0% {
    transform: translate(2px, 0); }
  50% {
    transform: translate(-2px, 0); }
  100% {
    transform: translate(2px, 0); } }
/* PAGE MENU RESTAURANT 1 */
.menu {
  margin-top: 110px;
  margin-bottom: 70px; }
  .menu__heading {
    text-align: center;
    padding-top: 30px;
    font-size: 30px; }

.restaurant1_carte {
  background-color: #fcdfdb;
  font-family: "Cream", sans-serif;
  padding: 5px;
  margin: 0 10px; }
  .restaurant1_carte .menu__header {
    text-align: center;
    padding-top: 35px; }
    .restaurant1_carte .menu__header i {
      font-size: 60px; }
    .restaurant1_carte .menu__header h2 {
      font-size: 50px;
      margin-top: 0;
      font-weight: normal;
      color: #3d1319; }

.menus {
  padding: 0 50px; }
  .menus__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; }
    .menus__titre h4 {
      font-size: 20px; }
    .menus__titre img {
      width: calc(100% / 4); }

.entree {
  width: 100%;
  font-family: 'KG';
  font-size: 18px;
  color: #836569; }
  .entree__prix td {
    padding: 0 20px 10px 0; }
  .entree__prix span {
    color: #3d1319;
    padding: 0; }

.menu__footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  .menu__footer h2 {
    font-weight: normal;
    font-size: 40px;
    padding-left: 20px;
    color: #3d1319; }

/* PAGE MENU RESTAURANT 2 */
.menu {
  margin-top: 110px;
  margin-bottom: 70px; }
  .menu__heading {
    text-align: center;
    padding-top: 30px; }

.restaurant2_carte {
  background-color: #fff5fe;
  font-family: 'KG';
  padding: 50px 5px;
  margin: 0 10px; }
  .restaurant2_carte .menu__header {
    text-align: center;
    padding-top: 35px; }
    .restaurant2_carte .menu__header h2 {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 60px;
      font-weight: normal;
      background: -webkit-linear-gradient(left, #fba12d, #9865ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.menus {
  padding: 0 50px;
  font-family: serif; }
  .menus__titre img {
    width: calc(100% / 4); }
  .menus__titre .motif_entree {
    color: #c67412;
    font-size: 20px; }
  .menus__titre img {
    width: calc(100% / 4); }
  .menus__titre .motif_plats {
    color: #a56799;
    font-size: 20px; }
  .menus__titre img {
    width: calc(100% / 4); }
  .menus__titre .motif_desserts {
    color: #6e4ccc;
    font-size: 18px; }

.entrees {
  width: 100%;
  font-size: 16px;
  color: #d4944d; }
  .entrees td {
    padding: 0 20px 10px 0; }

.plats {
  width: 100%;
  font-size: 16px;
  color: #bc8bb2; }
  .plats td {
    padding: 0 20px 10px 0; }

.desserts {
  width: 100%;
  font-size: 16px;
  color: #6e4ccc; }
  .desserts td {
    padding: 0 20px 10px 0; }

h4 {
  position: relative;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  color: #444;
  text-decoration: none; }

h4::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: rgba(103, 97, 97, 0.6);
  transition: 0.5s ease all .3s; }

.menus__titre:hover h4::after {
  width: 90%;
  transition: 0.3s ease all; }

@media (max-width: 400px) {
  .footer ul {
    padding: 0 10px;
    text-align: center; } }
@media (max-width: 600px) {
  .main {
    margin-top: 120px; }
    .main__presentation {
      display: block;
      padding-top: 0;
      padding-bottom: 0; }

  .carte {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; }

  .menus__titre {
    display: block;
    text-align: center; }
  .menus img {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
