
/* FOOTER */

footer{
  position: fixed;
  bottom:0; left:0; right:0;
  margin:0 auto;
  background-color:#579c87;

  ul{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;

    .lien__footer{
      font-size:23px;
      font-weight:normal;
      color: #feb500;
      display: block;

      &:hover{
        animation: wiggle 75ms 5;
      }
      @keyframes wiggle {
        0% { transform: translate(2px, 0); }
        50% { transform: translate(-2px, 0); }
        100% { transform: translate(2px, 0); }
      }
    }


  }
}
