
/* PROCHAINEMENT */

.prochainement{
  margin-bottom:80px;
  color: #FBC02D;
  text-align: center;

  h3{
    max-width:200px;
    padding:7px;
    background-color:#579c87;
    font-size:25px;
    border-radius:5px;
    margin: 0 auto;
    font-weight: normal;
  }
}
