
/* PROCHAINEMENT */

.prochainement{
  margin-bottom:80px;
  color: #FBC02D;
  text-align: center;

  .chargement{
    max-width:200px;
    padding:7px;
    background-color:#579c87;
    font-size:20px;
    border-radius:5px;
    margin: 0 auto;
    font-weight: normal;

      h3{
        margin:10px auto;
      }

      .one {
        opacity: 0;
        animation: dot 2s infinite;
        animation-delay: 0.6s;
      }

      .two {
        opacity: 0;
        animation: dot 2s infinite;
        animation-delay: 0.8s;
      }

      .three {
        opacity: 0;
        animation: dot 2s infinite;
        animation-delay: 1s;
      }
      @keyframes dot {
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
      }


  }

}
