

/* PAGE MENU RESTAURANT 2 */

.menu{
  margin-top:110px;
  margin-bottom:70px;
  &__heading{
    text-align:center;
    padding-top:30px;
  }
}
.restaurant2_carte{
  background-color: #fff5fe;
  font-family: 'KG';
  padding: 5px;
  margin: 0 10px;
  box-shadow: 1px 0 21px rgba(0, 0, 0, 0.2);

  .menu__header{
    text-align:center;

    h2{
      font-size:50px;
      margin-top:20px;
      margin-bottom:30px;
      font-weight:normal;
      background: -webkit-linear-gradient(left, #fba12d, #9865ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.resto2{
  padding: 0 50px;
  font-family:sans-serif;
  font-weight: normal;

    .motif_entree2{
      color: #c67412;
      font-size: 20px;
    }
    .motif_plats2{
      color: #a56799;
      font-size: 20px;
    }
    .motif_desserts2{
      color: #6e4ccc;
      font-size: 20px;
    }

  }



.entree2{
  width:100%;
  font-size: 16px;
  color: #d4944d;

  &__prix{
    display:flex;
    justify-content: space-between;

    td:first-child{
      padding: 0 20px 15px 0;
    }
    span{
      font-size:20px;
    }
  }

}

.plat2{
  width:100%;
  font-size: 16px;
  color: #bc8bb2;

  &__prix{
    display:flex;
    justify-content: space-between;

    td:first-child{
      padding: 0 20px 15px 0;
    }
    span{
      font-size:20px;
    }
  }
}

.dessert2{
  width:100%;
  font-size: 16px;
  color: #6e4ccc;

  &__prix{
    display:flex;
    justify-content: space-between;

    td:first-child{
      padding: 0 20px 15px 0;
    }
    span{
      font-size:20px;
    }
  }
}
