
/* PAGE MENU RESTAURANT 1 */

.menu{
  margin-top:110px;
  margin-bottom:70px;
  &__heading{
    text-align:center;
    padding-top:30px;
    font-size:30px;
  }
}
.restaurant1_carte{
  background-color: #fcdfdb;
  font-family: "Cream", sans-serif;
  padding: 5px;
  padding-bottom: 30px;
  margin: 0 10px;

  .menu__header{
    text-align:center;
    padding-top:35px;

    i{
      font-size:60px;
    }
    h2{
      font-size:50px;
      margin-top:0px;
      color:#3d1319;
    }
  }
}
.menus{
  padding: 0 50px;

  &__titre{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0;

    h4{
      font-size:25px;
    }

    img{
      width:calc(100% / 4);
    }
  }
}
.resto1{
  font-family: 'comics', sans-serif;

  .motif_entree1{
    color: #3d1319;
  }
}


.entree1{
  width:100%;
  font-family: 'comics', sans-serif;
  font-size: 18px;
  color: #836569;

  &__prix {
    display:flex;
    justify-content: space-between;

    td:first-child{
      padding: 0 20px 15px 0;

    }
    td span{
      color:#3d1319;
      font-size:20px;
    }
  }
}

.menu__footer{
  display:flex;
  justify-content: center;
  align-items: center;

  h2{
    font-weight:normal;
    font-size:40px;
    padding-left:20px;
    color:#3d1319;
  }
}
